In [8]:
def my_func(ch): return ch.lower() if ch.isupper() else ch.upper()

In [9]:
my_list = ['a', 'b', 'c', 'd', 'e', 'A', 'B', 'C', 'D', 'E']
mapped_list = list(map(my_func, my_list))
print(mapped_list)

['A', 'B', 'C', 'D', 'E', 'a', 'b', 'c', 'd', 'e']

In [1]:
new_dict = {'A': [4, 5, 6], 'B': [1, -5, 8], 'C': [-5, 0, -0]}

In [2]:
new_dict = dict('A' = [4, 5, 6], 'B' = [1, -5, 8], 'C' = [-5, 0, -0])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (91064324.py, line 1)

In [3]:
new_dict = dict(A = [4, 5, 6], B = [1, -5, 8], C = [-5, 0, -0])

In [4]:
new_dict = dict.fromkeys(['A', 'B', 'C'], [[4, 5, 6], [1, -5, 8], [-5, 0, -0]])

In [5]:
X = ['A', 'B', 'C']
Y = [[4, 5, 6], [1, -5, 8], [-5, 0, -0]]
new_dict = dict(zip(X, Y))

In [1]:
## Consider the dictionary my_dict = {'Name': 'Anisha', 'Age': 32, 'New Tax Regime': True}. 
# We know that the command my_dict['Name'] will access and return the value 'Anisha'. 
# Will the command my_dict[['Name', 'Age']] return the value ['Anisha', 32]?

In [2]:
my_dict = {'Name': 'Anisha', 'Age': 32, 'New Tax Regime': True}

In [3]:
my_dict['Name']

'Anisha'

In [4]:
my_dict[['Name', 'Age']]

TypeError: unhashable type: 'list'

In [5]:
my_dict.get('Tax Rate')

In [6]:
employee_dict = {'emp1014': {'Name': 'Himanshu', 'Department': 'Sales', 'Work Exp': 4},
                            'emp1025': {'Name': 'Jyoti', 'Department': 'Marketing', 'Work Exp': 7},
                            'emp1176': {'Name': 'David', 'Department': 'Category', 'Work Exp': 8}}

In [7]:
employee_dict['emp1025']['Work Exp']

7

In [15]:
my_dict.get('key')

In [1]:
len({'dict1': {'dict2': 'dict3'}, 'dict4': {'dict5', 'dict6', 'dict7'}})

2

In [3]:
dict_1 = {'A': [0, 1, 2], 'B': [-1, -2, 3]}
dict_2 = {'A': [1, 2, 0], 'B':[-1, -2, 3], 'C': [0, 1]}

In [4]:
'A' in dict_2

True

In [5]:
'B' in dict_1 | dict_2

True

In [6]:
'C' not in dict_1 | dict_2

False

In [1]:
students = {'Akriti': 85, 'Bob': 92, 'Charu': 88}
for name, score in students.items():
    print(f'{name} scored {score}')

Akriti scored 85
Bob scored 92
Charu scored 88

In [2]:
inventory = {'apple': 10, 'banana': 5, 'orange': 7}
if 'apple' in inventory:
    print(inventory['apple'])
else:
    print('Item not found')

10

In [15]:
a = (i for i in range(1, 10))
print(a)

<generator object <genexpr> at 0x000001AE507CC640>

In [3]:
ages = [25, 30, 25, 40, 30, 50, 40, 60]
unique_ages = sorted(set(ages))
print(unique_ages)

[25, 30, 40, 50, 60]

### Quizzes - Strings

In [4]:
inp = 'This is Python session'
out = inp[-6]
print(out)

e

In [6]:
string = 'upgrad learning'
string[::-1]

'gninrael dargpu'

In [7]:
inp = 'Python is amazing'
out = inp[:5:-1] + inp[5::]
print(out)

gnizama si n is amazing

In [9]:
str = " pyTHon "
str.strip().capitalize()

'Python'

### Quizzes - Lists

In [12]:
list1 = [45, 34, [35, 76, [89], 0, -1]]
list1[2][2][0]

89

In [13]:
some_list = [5, 10, 15, 20, 25, 30, 35]
new_list = some_list[0::2] + some_list[1::2]
print(new_list)

[5, 15, 25, 35, 10, 20, 30]

In [15]:
list1 = [1,1,3,5,6,7,5,3]
sum(list1)/len(list1)

3.875

In [16]:
list1 = [1, 2, 40, 50, 80, 3, 4]
list2 = [max(list1)]
list1.remove(max(list1))
list2.append(max(list1))
list2

[80, 50]

In [18]:
list1 = [1, 2, 40, 50, 80, 3, 4]
list2 = [max(list1)]
list1.remove(max(list1))
list2 += [max(list1)]
list2

[80, 50]

In [20]:
list1 = [1, 2, 40, 50, 80, 3, 4]
sorted(list1, reverse=True)[:2]

[80, 50]

In [21]:
list1 = [1, 2, 40, 50, 80, 3, 4]
sorted(list1)[-2:][::-1]

[80, 50]

In [22]:
word = ['1','2','3','4']
word[:] = [] 
print(word)

[]

### Quizzes - Dictionaries

In [24]:
list1 = ["A", "B", "C"]
list2 = [1, 2, 3]
dict(zip(list1, list2))

{'A': 1, 'B': 2, 'C': 3}

In [27]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
country={"England":"London","Australia":"Sydney","India":"New Delhi"}
print(country.get('India'))

New Delhi

In [32]:
country.get("India", 0)

'New Delhi'

In [35]:
population= {"Bangalore": 5000, "Chennai": 4000, "Kolkata": 6000}
sum(population.values())

15000

### Quizzes - Tuples and Sets

In [36]:
list1 = [1, 2]
list2 = [3, 4]

In [37]:
tuple(zip(list1, list2))

((1, 3), (2, 4))

In [40]:
t = (1, 2, 3)
*start, last = t[::-1]
print(start)
print(last)

[3, 2]
1

In [41]:
(1,)*5

(1, 1, 1, 1, 1)

In [42]:
student_record = {'name': 'Alice',

 'age': 16,

 'grade': '10th',

 'email': 'alice@example.com',

 'phone': '123-456-7890',

 'subjects': ['Math', 'Science', 'History', 'Art']}

In [50]:
my_list = [10,75,38,47,56,75,33]
# Find the maximum value in the list
max_val = max(my_list)
# Find the index of the first occurrence of the maximum value
first_index = [index for index, value in enumerate(my_list) if value == max_val][0]
# Reverse the list and find the index of the first occurrence of the maximum value
my_list_rev = my_list[::-1]
second_index = [index for index, value in enumerate(my_list_rev) if value == max_val][1]
# Printing the indices of max element
print("Index of first maximum value:", first_index)
print("Index of second maximum value:", second_index)

Index of first maximum value: 1
Index of second maximum value: 5