## Data Structure in Python

### String

In [6]:
empty_str = ''
empty_str

In [3]:
print(empty_str)

In [9]:
type(empty_str)

str

In [5]:
character = 'h'
character

'h'

In [8]:
print(character)

h

In [10]:
type(character)

str

In [13]:
word = 'Hello'
word

'Hello'

In [15]:
sentence = 'Hello World!'
sentence

'Hello World!'

In [17]:
str1 = "abc"
str2 = 'abc'

In [18]:
str1

'abc'

In [19]:
str2

'abc'

In [20]:
str1 == str2

True

#### Formatting Strings

In [23]:
my_str = 'Hello World!'
my_str

'Hello World!'

In [24]:
print(my_str)

Hello World!

In [29]:
my_int = 12345
my_float = 3.1415
answer = 'The number I have is %d and pi equals %f.' %(my_int, my_float)
print(answer)

The number I have is 12345 and pi equals 3.141500.

In [32]:
a = 3
b = 4.50005
total = 7.50005
answer = '{} + {} = {}'.format(a, b, total)
print(answer)

3 + 4.50005 = 7.50005

In [34]:
answer = '{x} + {y} = {z}'.format(x=a, y=b, z=total)
print(answer)

3 + 4.50005 = 7.50005

In [35]:
answer = f'{a} + {b} = {total}'
print(answer)

3 + 4.50005 = 7.50005

### List

In [36]:
print(list(range(1, 10, 2)))

[1, 3, 5, 7, 9]

In [38]:
list = list(range(1, 10, 2))

In [39]:
list[4:3]

[]

#### Operations on Lists

In [42]:
my_list = [9, 3, 2, 4, 5]
len(my_list)

5

In [43]:
nested_list = [[1, 2], [3, 4, 5], [6, 7, 8, 9]]
len(nested_list)

3

In [46]:
len(nested_list[2])

4

In [47]:
print(sum(my_list))
print(min(my_list))
print(max(my_list))

23
2
9

In [48]:
print(ord('a'))
print(ord('b'))
print(ord('c'))

97
98
99

In [50]:
print(sorted(my_list))
print(sorted(my_list, reverse=True))

[2, 3, 4, 5, 9]
[9, 5, 4, 3, 2]

In [52]:
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9, 10]
l1 + l2 # Extending the lists

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
l1 * 3 # repeating/replicating a list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [55]:
1 in l1 # Membership in a list

True

In [56]:
# zip() : This allows us to iterate over multiple lists at the same pace.

In [72]:
lst1 = ['a', 'b', 'c', 'd', 'e']
lst2 = [1, 2, 3, 4, 5]

In [73]:
zipped_lists = zip(lst1, lst2) # zipping two list
zipped_lists

In [74]:
type(zipped_lists)

zip

In [77]:
print(zipped_lists)

<zip object at 0x000001F9BB62A0C0>

In [78]:
numbers = [1, 2, 3, 4]

print(len(numbers))

4

#### List Methods

In [99]:
todo_list = ['Design user interface', 'Write API documentation', 'Fix login bug']

In [100]:
todo_list.append('Deploy to production')
todo_list

['Design user interface',
 'Write API documentation',
 'Fix login bug',
 'Deploy to production']

In [101]:
todo_list.insert(0, 'Meet with stakeholders')
todo_list

['Meet with stakeholders',
 'Design user interface',
 'Write API documentation',
 'Fix login bug',
 'Deploy to production']

In [102]:
todo_list.extend(['Review security protocols', 'Conduct performance testing'])
todo_list

['Meet with stakeholders',
 'Design user interface',
 'Write API documentation',
 'Fix login bug',
 'Deploy to production',
 'Review security protocols',
 'Conduct performance testing']

In [103]:
todo_list.remove('Fix login bug')
todo_list

['Meet with stakeholders',
 'Design user interface',
 'Write API documentation',
 'Deploy to production',
 'Review security protocols',
 'Conduct performance testing']

In [104]:
finished_task = todo_list.pop(2)

In [106]:
print('Finished task: ', finished_task)
print(todo_list)

Finished task:  Write API documentation
['Meet with stakeholders', 'Design user interface', 'Deploy to production', 'Review security protocols', 'Conduct performance testing']

In [107]:
index_of_task = todo_list.index('Deploy to production')
print("Index of 'Deploy to production': ", index_of_task)

Index of 'Deploy to production':  2

In [108]:
todo_list.sort()
todo_list

['Conduct performance testing',
 'Deploy to production',
 'Design user interface',
 'Meet with stakeholders',
 'Review security protocols']

In [109]:
todo_list.reverse()
todo_list

['Review security protocols',
 'Meet with stakeholders',
 'Design user interface',
 'Deploy to production',
 'Conduct performance testing']

In [110]:
todo_list.clear()
todo_list

[]

#### Control Flow on Lists

In [111]:
my_list = [-90, -400, 35, -20.5, 0, 820, 515, 7.8, -21, -3, 2, 100]

In [113]:
sorted_list = sorted(my_list)
print('Second-largest number in the list: ', sorted_list[-2])

Second-largest number in the list:  515

In [115]:
largest = second_largest = float('-inf')
for num in my_list:
    if num > largest: 
        second_largest = largest
        largest = num
    
    elif largest > num > second_largest:
        second_largest = num

print('Second-largest number in the list: ', second_largest)

Second-largest number in the list:  515

In [118]:
my_list = [1, 1, 2, 2, 2, 3, 4, 4, 4, 4, 2, 2, 5, 5]
modified_list = [my_list[0]]

for i in range(1, len(my_list)):
    if my_list[i] != my_list[i - 1]:
        modified_list.append(my_list[i])

print(modified_list)

[1, 2, 3, 4, 2, 5]

#### List Comprehensions

In [119]:
my_list = [1, 2, 3, 4, 5, 6, 7]

squared_list = []
for ele in my_list: squared_list.append(ele ** 2)

In [120]:
quared_list = [x ** 2 for x in my_list]

In [121]:
my_string = 'InfOrmAtioN'

new_list = [ch.upper() for ch in my_string if ch.islower()]

In [122]:
new_list_2 = [ch.upper() if ch.islower() else ch for ch in my_string]

In [123]:
table = [[x * y for y in range(1, 6)] for x in range(1, 6)]

In [124]:
for x in range(5): [x]

In [125]:
[(x + 1) for x in range(5)]

[1, 2, 3, 4, 5]

In [126]:
list.append(x for x in range(5))

In [128]:
[x + 1 for x in range(3)]

[1, 2, 3]

In [129]:
[x * 2 for x in range(3)]

[0, 2, 4]

In [130]:
for x in range(3): [x]

In [131]:
[x for x in range(4)]

[0, 1, 2, 3]

In [132]:
my_list = [-1, -5, 7, -3, 8, 2, -9, 4]

In [134]:
new_list = [num ** 2 if num < 0 else num ** 3 for num in my_list]
new_list

[1, 25, 343, 9, 512, 8, 81, 64]

In [135]:
my_list = ['tiger', 'lion', 'cheetah', 'leopard', 'puma', 'cougar', 'jaguar']

In [137]:
new_list = [cat for cat in my_list if len(cat) >= 6]
new_list

['cheetah', 'leopard', 'cougar', 'jaguar']

In [138]:
items = ['apple', 'banana', 'cherry']
for index, value in enumerate(items):
    print(index, value)

0 apple
1 banana
2 cherry

### Dictionaries

#### Creating Dictionaries

Let's create an empty dictionary

In [5]:
empty_dict_1 = {}
empty_dict_1

{}

In [6]:
type(empty_dict_1)

dict

In [7]:
empty_dict_2 = dict()
empty_dict_2

{}

In [8]:
type(empty_dict_2)

dict

Let's create some dictionaries with elements

In [10]:
# Here is a simple dictionary
my_dict = {'student': 'Ashok Kumar', 'age': 16, 'sports': ['football', 'cricket', 'basketball']}
my_dict

{'student': 'Ashok Kumar',
 'age': 16,
 'sports': ['football', 'cricket', 'basketball']}

In [11]:
# The same dictionary defined in another way
my_dict = {'student': 'Ashok Kumar', 
           'age': 16, 
           'sports': ['football', 'cricket', 'basketball']}
my_dict

{'student': 'Ashok Kumar',
 'age': 16,
 'sports': ['football', 'cricket', 'basketball']}

In [13]:
# The same dictionary defined in yet another way(most popular convention)
my_dict = {
    'student': 'Ashok Kumar',
    'age': 16,
    'sports': ['football', 'cricket', 'basketball']
}
my_dict

{'student': 'Ashok Kumar',
 'age': 16,
 'sports': ['football', 'cricket', 'basketball']}

In [15]:
{'abcdef': 1, 3: 'fire'} # any immutable data type can be used as key

{'abcdef': 1, 3: 'fire'}

Dictionaries automatically deal with duplicate values

In [17]:
dict1 = {'A': 2, 'B': 3, 'C': 4, 'A': 5}
dict1

{'A': 5, 'B': 3, 'C': 4}

We can create dictionaries with default values using dict.fromkeys()

In [19]:
dict2 = dict.fromkeys(['A', 'B', 'C'], 0)
dict2

{'A': 0, 'B': 0, 'C': 0}

The dict() constructor can be used to create dictionaries in several ways

In [21]:
dict3 = dict(A = 1, B = 2, C = 3)
dict3

{'A': 1, 'B': 2, 'C': 3}

In [24]:
dict4 = dict([['A', 1], ['B', 2], ['C', 3]])
dict4

{'A': 1, 'B': 2, 'C': 3}

In [26]:
l1 = ['A', 'B', 'C']
l2 = [1, 2, 3]
list(zip(l1, l2))

[('A', 1), ('B', 2), ('C', 3)]

In [28]:
dict5 = dict(zip(l1, l2)) # the zip() method iterates over two or more iterables simultaneously
dict5

{'A': 1, 'B': 2, 'C': 3}

In [29]:
dict(zip(l2, l1))

{1: 'A', 2: 'B', 3: 'C'}

We can create nested dictionaries (with dictionaries as values not keys)

In [30]:
class_10 = {
    'student1': {'name': 'Ashok Kumar', 'age': 16},
    'student2': {'name': 'Mohini Karla', 'age': 14},
    'student3': {'name': 'Victor Salvage', 'age': 15}
}
class_10

{'student1': {'name': 'Ashok Kumar', 'age': 16},
 'student2': {'name': 'Mohini Karla', 'age': 14},
 'student3': {'name': 'Victor Salvage', 'age': 15}}