In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

swiggy_data = pd.read_csv('swiggy.csv')  # please load this dataset to proceed
swiggy_data.head()

,restaurant_no,restaurant_name,city,address,rating,cost_per_person,cuisine,restaurant_link,menu_category,item,price,veg_or_non-veg
0,1,Tandoor Hut,Bangalore,"Tandoor Hut, 477, KHB Colony, 5th Block, Koram...",4.3,300.0,"Biryani,Chinese",https://www.swiggy.com/restaurants/tandoor-hut...,Accompaniments,Roasted Papad,35,Veg
1,1,Tandoor Hut,Bangalore,"Tandoor Hut, 477, KHB Colony, 5th Block, Koram...",4.3,300.0,"Biryani,Chinese",https://www.swiggy.com/restaurants/tandoor-hut...,Accompaniments,Fried Papad,40,Veg
2,1,Tandoor Hut,Bangalore,"Tandoor Hut, 477, KHB Colony, 5th Block, Koram...",4.3,300.0,"Biryani,Chinese",https://www.swiggy.com/restaurants/tandoor-hut...,Indian Breads,Tandoori Roti (1 Pc),45,Veg
3,1,Tandoor Hut,Bangalore,"Tandoor Hut, 477, KHB Colony, 5th Block, Koram...",4.3,300.0,"Biryani,Chinese",https://www.swiggy.com/restaurants/tandoor-hut...,Indian Breads,Butter Roti,50,Veg
4,1,Tandoor Hut,Bangalore,"Tandoor Hut, 477, KHB Colony, 5th Block, Koram...",4.3,300.0,"Biryani,Chinese",https://www.swiggy.com/restaurants/tandoor-hut...,Indian Breads,Plain Kulcha (1 Pc),50,Veg

In [6]:
swiggy_data.shape

(50046, 12)

In [7]:
num_row = 50046
swiggy_data['delivery_time'] = np.random.randint(29, 78, size=num_row)

In [11]:
swiggy_data.delivery_time

0        47
1        47
2        47
3        70
4        58
         ..
50041    32
50042    69
50043    46
50044    68
50045    76
Name: delivery_time, Length: 50046, dtype: int32

In [12]:
swiggy_data.shape

(50046, 13)

In [13]:
swiggy_data.columns

Index(['restaurant_no', 'restaurant_name', 'city', 'address', 'rating',
       'cost_per_person', 'cuisine', 'restaurant_link', 'menu_category',
       'item', 'price', 'veg_or_non-veg', 'delivery_time'],
      dtype='object')

### Quiz 1
The `swiggy_data` dataframe contains prices in INR. Convert these to USD. Use a conversion factor of $0.012$. Do not change the original dataframe. Instead, create a new column named `'Price in USD'` and add it to the dataframe.

In [ ]:
### YOUR CODE HERE ###

### Quiz 2
Calculate the mean of the `'Price'` and `'Delivery time'` columns in the `swiggy_data` dataframe. Add this value as a new column with the feature name `'Avg Cost-Time'`. Then, print the subset of the dataframe containing the `'Restaurant'`, `'Price'`, `'Delivery time'`, and `'Avg Cost-Time'` columns.

In [ ]:
### YOUR CODE HERE ###

### Quiz 3
Find the price difference between the most and least expensive meals in the `swiggy_data` dataframe.

In [ ]:
### YOUR CODE HERE ###

### Quiz 4
Are there more restaurants in Bangalore or in other cities in the `swiggy_data` dataframe?

In [ ]:
### YOUR CODE HERE ###

### Quiz 5
Create a line plot of `Price` and `Delivery time` for restaurants using the `swiggy_data` dataframe.

In [ ]:
### YOUR CODE HERE ###

###Quiz 6
Use a box plot to answer the following question pertaining to the `swiggy_data` dataframe:

What is the distribution of expenditure split over different cities?

In [ ]:
### YOUR CODE HERE ###

###Quiz 7
Create a heatmap to show the correlation between `Price`, `Avg ratings`, and `Delivery time` from the `swiggy` dataset.

In [ ]:
### YOUR CODE HERE ###

###Quiz 8
Use a pair plot to answer the following question pertaining to the `swiggy_data` dataframe:

- Only keeping rows where the Price (expenditure) is greater than $500$.

- Only including rows where the Delivery time is less than $45$ minutes (you can adjust this value based on your dataset).

In [ ]:
### YOUR CODE HERE ###

###Quiz 9
Plot a scatter plot between `Avg ratings` and `Price` in the `swiggy_data` dataframe with markers that are:

- Square in shape,

- Blue in colour,

- size $15$, and

- Have $75$ % opacity.

In [ ]:
### YOUR CODE HERE ###

###Quiz 10
Create a bar graph of the average `Price` (average expenditure greater than $1000$) for different `area` in the `swiggy_data` dataframe.

In [ ]:
### YOUR CODE HERE ###

###Quiz 11
Create a boxplot for the distribution of `Price` (expenditure) in the `swiggy_data` dataframe.

In [ ]:
### YOUR CODE HERE ###

###Quiz 12
Create a pie chart to show the distribution of areas with more than $100$ restaurants in the `swiggy_data` dataframe, labeled by `area` name and `count`, with a legend.

In [ ]:
### YOUR CODE HERE ###