In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv', header=None, sep='|')

In [5]:
df.columns = ['S.No.', 'Name', 'Subject', 'Maximum Marks', 'Marks Obtained', 'Percentage']

In [6]:
df.set_index(['S.No.'], inplace=True)

In [7]:
print(df)

          Name      Subject  Maximum Marks  Marks Obtained  Percentage
S.No.
1       Akshay  Mathematics             50              40          80
2       Mahima      English             40              33          83
3        Vikas  Mathematics             50              42          84
4      Abhinav      English             40              31          78
5       Mahima      Science             50              40          80
6       Akshay      Science             50              49          98
7      Abhinav  Mathematics             50              47          94
8        Vikas      Science             50              40          80
9      Abhinav      Science             50              47          94
10       Vikas      English             40              39          98
11      Akshay      English             40              35          88
12      Mahima  Mathematics             50              43          86

In [30]:
# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv'
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv')

# Provide your answer below
df.set_index(['Office', 'Department'], inplace = True)
df.sort_index(inplace=True)

print(df.head(5))

                         ID  Rating
Office    Department
Bangalore Finance     U2F53     2.7
          Finance     U1F53     3.7
          Finance     U1F28     3.2
          Finance     U1F15     3.3
          Finance     U1F14     2.9