#### This is the first topic in python
In this notebook we will learn about python basics

To run the cell : Shift + Enter

In [2]:
!pip install ipykernel

'pip' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
1+1

2

In [4]:
print(1+1)

2

In [5]:
## Basic syntax- Single line comment

# hello today i am teaching python

"""
Thiss is an example of multiline
comment. We can write anyhting within these
symbols
"""

'\nThiss is an example of multiline\ncomment. We can write anyhting within these\nsymbols\n'

In [6]:
first_name="Krish"
last_name="Naik"

In [7]:
first_name

'Krish'

In [8]:
type(first_name)

str

In [9]:
print(first_name)

Krish

In [10]:
age=35
type(age)

int

In [11]:
height=6.1
type(height)

float

In [12]:
is_check=True
type(is_check)

bool

In [13]:
## Type Casting
int(height)

6

In [14]:
type(str(height))

str

In [15]:
int("15")

15

In [16]:
int("krish")

ValueError: invalid literal for int() with base 10: 'krish'

In [ ]:
var=10 #int
print(var,type(var),float(var))

var="Hello"
print(var,type(var),str("Hello"))

var=3.14
print(var,type(var),int(var))

10 <class 'int'> 10.0
Hello <class 'str'> Hello
3.14 <class 'float'> 3

In [ ]:
## input
val=int(input("Please provide the value"))
print(val)

23

In [17]:
int("10")

10

In [18]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 7.0
Difference: -1.0
Product: 12.0
Quotient: 0.75