In [1]:
a = 4
b = 2

In [2]:
print(a+b)
print(type(a+b))

6
<class 'int'>

In [3]:
print(a/b)
print(type(a/b))

2.0
<class 'float'>

In [4]:
print(a**b)
print(type(a**b))

16
<class 'int'>

In [5]:
print(4**2.2)
print(type(4**2.2))

21.112126572366314
<class 'float'>

In [6]:
print(a-b)
print(type(a-b))

2
<class 'int'>

In [7]:
print(a/b)
print(type(a/b))

2.0
<class 'float'>

In [8]:
print(a//b)
print(type(a//b))

2
<class 'int'>

In [9]:
print(a%b)
print(type(a%b))

0
<class 'int'>

In [10]:
2+3*4

14

In [11]:
(2+3)*4

20

In [12]:
name = "monal"
print(name)

monal

In [13]:
name = "monal                               "
print(name)

monal

In [14]:
name = name.rstrip()
print(name)

monal

In [17]:
name = "        monal"
print(name)

        monal

In [18]:
name = name.lstrip()
print(name)

monal

In [19]:
name = "      monal      "
print(name)

      monal

In [20]:
name = name.strip()
print(name)

monal

In [21]:
name = "monal"
name = name.strip()
print(name)

monal

In [22]:
name = "    monal      "
print(name)

    monal

In [23]:
name = name.lstrip()
name = name.rstrip()
print(name)

monal

In [24]:
statement = "   my  name is monal   "
statement = statement.strip()
print(statement)

my  name is monal

In [23]:
a = 2
b = 2
print(a==b)

True

In [24]:
a = 2
print(type(a))

<class 'int'>

In [25]:
a = True
print(type(a))

<class 'bool'>