In [1]:
# List
lst=[]
print(lst)

names=["Tanvir", "Saket", "Sanjeev"]
print(names)
family=["Tanvir", "Anees", "Arham"]
print(family)

[]
['Tanvir', 'Saket', 'Sanjeev']
['Tanvir', 'Anees', 'Arham']

In [28]:
# Accessing List Elements
fruits=["Apple", "Banana", "Cherry", "Kiwi", "Orange"]
print(fruits[0])
print(fruits[4])
print(fruits[2])
print(fruits[-1])
print(fruits[1:])
print(fruits[1:4])
print(fruits[-1:-3])

Apple
Orange
Cherry
Orange
['Banana', 'Cherry', 'Kiwi', 'Orange']
['Banana', 'Cherry', 'Kiwi']
[]

In [29]:
# List Methods
fruits.append("Guava")
print(fruits)
fruits.insert(1,"watermelon")
print(fruits)
fruits.remove("Banana")
print(fruits)
fruits.pop()
print(fruits)
index=fruits.index("Cherry")

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Guava']
['Apple', 'watermelon', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Guava']
['Apple', 'watermelon', 'Cherry', 'Kiwi', 'Orange', 'Guava']
['Apple', 'watermelon', 'Cherry', 'Kiwi', 'Orange']

In [31]:
# List Comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:

## Basisc Syntax: [expression for item in iterable]
square=[num**2 for num in range(10)]
print(square)

## With conditional Logic: [expression for item in iterable if condition]
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

## Nested List comprehension [expression for item1 in iterable1 for item2 in iterable2]
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

## List comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths) # Output: [5, 5, 6, 4, 13]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]
[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]
[5, 5, 6, 4, 13]

In [2]:
# Create a set 
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [28]:
my_set = set([1, 2, 3, 4, 5])
print(my_set)
print(type(my_set))

my_empty_set = set()
print(my_empty_set)
print(type(my_empty_set))

{1, 2, 3, 4, 5}
<class 'set'>
set()
<class 'set'>

In [6]:
my_set = set([1, 2, 2, 3, 3, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [11]:
## Basic set operation
## Ading and removing elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

my_set.remove(3)
print(my_set)
my_set.remove(3)

{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7}

KeyError: 3

In [13]:
print(my_set)
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7}

In [16]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

4
{5, 7}

In [17]:
## Clear all the elements
my_set.clear()
print(my_set)

set()

In [19]:
## Set Membership Test
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)
print(10 in my_set)

True
False

In [21]:
## Mathematical Operations
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

## Union
union_set = set1.union(set2)
print(union_set)

## Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [22]:
## Counting Unique words in text
text = "In this tutorial we are discussing about sets"
words = text.split()

## Convert list of words to set to get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'this', 'sets', 'discussing', 'In', 'are', 'tutorial', 'about', 'we'}
8

In [1]:
## Discussion Dictionaries
## [] - empty list, () - empty tuple
## Creating Dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [4]:
empty_dict = dict()
empty_dict

{}

In [11]:
student = {"name": "Tanvir", "age": 32, "grade": 24}
print(student)
print(type(student))

{'name': 'Tanvir', 'age': 32, 'grade': 24}
<class 'dict'>

In [9]:
# Single key is always used
student = {"name": "Tanvir", "age": 32, "name": 24}
print(student)

{'name': 24, 'age': 32}

In [14]:
## Accessing Distionary Elements
print(student["grade"])
print(student["age"])

## Accessing using get() method
print(student.get('grade'))
print(student.get('age'))
print(student.get('l_name', 'NA'))

24
32
24
32
NA

In [21]:
## Modifing Dictionary Key
## Dictionary are mutable, so you can add, update or delete elements
student = {"name": "Tanvir", "age": 32, "grade": 'A'}
print(student)
student["age"] = 33
student["address"] = "India" # added a new key and value
print(student)
del student["grade"]
print(student)

{'name': 'Tanvir', 'age': 32, 'grade': 'A'}
{'name': 'Tanvir', 'age': 33, 'grade': 'A', 'address': 'India'}
{'name': 'Tanvir', 'age': 33, 'address': 'India'}

In [29]:
## Dictionary Methods

keys = student.keys()
print(keys)

values = student.values()
print(values)

items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Tanvir', 33, 'India'])
dict_items([('name', 'Tanvir'), ('age', 33), ('address', 'India')])

In [31]:
## Shallow Copy
student_copy = student
print(student)
print(student_copy)

student["name"] = "Anees"
print(student)
print(student_copy)

{'name': 'Tanvir', 'age': 33, 'address': 'India'}
{'name': 'Tanvir', 'age': 33, 'address': 'India'}

In [34]:
student_copy1 = student.copy()
print(student_copy1)
print(student)
student["name"] = "Arham"
print(student_copy1)
print(student)

{'name': 'Anees', 'age': 33, 'address': 'India'}
{'name': 'Anees', 'age': 33, 'address': 'India'}
{'name': 'Anees', 'age': 33, 'address': 'India'}
{'name': 'Arham', 'age': 33, 'address': 'India'}

In [39]:
## Iterating Over Dictionaries
## You can use loops to Iterate over dictionaries, keys, values and items

## Iterate over keys
for key in student.keys():
    print(key)

## Iterate over values
for value in student.values():
    print(value)

## Iterate over keys, values pairs
for key, value in student.items():
    print(f"{key}:{value}")

name
age
address
Arham
33
India
name:Arham
age:33
address:India

In [48]:
## Nested Dictionaries
students = {
    "student1": {"name": "Tanvir", "age": 32},
    "student2": {"name": "Arham", "age": 10}
}

## Access Nested Dictionaries elements
print(students["student2"]["name"])

for student_id, student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key, value in student_info.items():
        print(f"{key}:{value}")

Arham
student1:{'name': 'Tanvir', 'age': 32}
name:Tanvir
age:32
student2:{'name': 'Arham', 'age': 10}
name:Arham
age:10

In [51]:
## Dictionary Comprehension
squares = {x:x**2 for x in range(5)}
print(squares)

## Conditional Dictionary Comprehension
evens = {x:x**2 for x in range(10) if x%2 ==0}
print(evens)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
## Practical Examples