## Data Structure in Python

### String

In [ ]:
empty_str = ''
empty_str

In [ ]:
print(empty_str)

In [ ]:
type(empty_str)

In [ ]:
character = 'h'
character

In [ ]:
print(character)

In [ ]:
type(character)

In [ ]:
word = 'Hello'
word

In [ ]:
sentence = 'Hello World!'
sentence

In [46]:
str1 = "abc"
str2 = 'abc'

In [ ]:
str1

In [ ]:
str2

In [ ]:
str1 == str2

#### Formatting Strings

In [ ]:
my_str = 'Hello World!'
my_str

In [ ]:
print(my_str)

In [ ]:
my_int = 12345
my_float = 3.1415
answer = 'The number I have is %d and pi equals %f.' %(my_int, my_float)
print(answer)

In [ ]:
a = 3
b = 4.50005
total = 7.50005
answer = '{} + {} = {}'.format(a, b, total)
print(answer)

In [ ]:
answer = '{x} + {y} = {z}'.format(x=a, y=b, z=total)
print(answer)

In [ ]:
answer = f'{a} + {b} = {total}'
print(answer)

### List

In [ ]:
list[4:3]

#### Operations on Lists

In [ ]:
my_list = [9, 3, 2, 4, 5]
len(my_list)

In [ ]:
nested_list = [[1, 2], [3, 4, 5], [6, 7, 8, 9]]
len(nested_list)

In [ ]:
len(nested_list[2])

In [ ]:
print(sum(my_list))
print(min(my_list))
print(max(my_list))

In [ ]:
print(ord('a'))
print(ord('b'))
print(ord('c'))

In [ ]:
print(sorted(my_list))
print(sorted(my_list, reverse=True))

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9, 10]
l1 + l2 # Extending the lists

In [ ]:
l1 * 3 # repeating/replicating a list

In [ ]:
1 in l1 # Membership in a list

In [66]:
# zip() : This allows us to iterate over multiple lists at the same pace.

In [67]:
lst1 = ['a', 'b', 'c', 'd', 'e']
lst2 = [1, 2, 3, 4, 5]

In [ ]:
zipped_lists = zip(lst1, lst2) # zipping two list
zipped_lists

In [ ]:
type(zipped_lists)

In [ ]:
print(zipped_lists)

In [ ]:
numbers = [1, 2, 3, 4]

print(len(numbers))

#### List Methods

In [72]:
todo_list = ['Design user interface', 'Write API documentation', 'Fix login bug']

In [ ]:
todo_list.append('Deploy to production')
todo_list

In [ ]:
todo_list.insert(0, 'Meet with stakeholders')
todo_list

In [ ]:
todo_list.extend(['Review security protocols', 'Conduct performance testing'])
todo_list

In [ ]:
todo_list.remove('Fix login bug')
todo_list

In [77]:
finished_task = todo_list.pop(2)

In [ ]:
print('Finished task: ', finished_task)
print(todo_list)

In [ ]:
index_of_task = todo_list.index('Deploy to production')
print("Index of 'Deploy to production': ", index_of_task)

In [ ]:
todo_list.sort()
todo_list

In [ ]:
todo_list.reverse()
todo_list

In [ ]:
todo_list.clear()
todo_list

#### Control Flow on Lists

In [83]:
my_list = [-90, -400, 35, -20.5, 0, 820, 515, 7.8, -21, -3, 2, 100]

In [ ]:
sorted_list = sorted(my_list)
print('Second-largest number in the list: ', sorted_list[-2])

In [ ]:
largest = second_largest = float('-inf')
for num in my_list:
    if num > largest: 
        second_largest = largest
        largest = num
    
    elif largest > num > second_largest:
        second_largest = num

print('Second-largest number in the list: ', second_largest)

In [ ]:
my_list = [1, 1, 2, 2, 2, 3, 4, 4, 4, 4, 2, 2, 5, 5]
modified_list = [my_list[0]]

for i in range(1, len(my_list)):
    if my_list[i] != my_list[i - 1]:
        modified_list.append(my_list[i])

print(modified_list)

#### List Comprehensions

In [87]:
my_list = [1, 2, 3, 4, 5, 6, 7]

squared_list = []
for ele in my_list: squared_list.append(ele ** 2)

In [88]:
quared_list = [x ** 2 for x in my_list]

In [89]:
my_string = 'InfOrmAtioN'

new_list = [ch.upper() for ch in my_string if ch.islower()]

In [90]:
new_list_2 = [ch.upper() if ch.islower() else ch for ch in my_string]

In [91]:
table = [[x * y for y in range(1, 6)] for x in range(1, 6)]

In [92]:
for x in range(5): [x]

In [ ]:
[(x + 1) for x in range(5)]

In [ ]:
list.append(x for x in range(5))

In [ ]:
[x + 1 for x in range(3)]

In [ ]:
[x * 2 for x in range(3)]

In [182]:
for x in range(3): [x]

In [ ]:
[x for x in range(4)]

In [184]:
my_list = [-1, -5, 7, -3, 8, 2, -9, 4]

In [ ]:
new_list = [num ** 2 if num < 0 else num ** 3 for num in my_list]
new_list

In [186]:
my_list = ['tiger', 'lion', 'cheetah', 'leopard', 'puma', 'cougar', 'jaguar']

In [ ]:
new_list = [cat for cat in my_list if len(cat) >= 6]
new_list

In [ ]:
items = ['apple', 'banana', 'cherry']
for index, value in enumerate(items):
    print(index, value)

### Dictionaries

#### Creating Dictionaries

Let's create an empty dictionary

In [ ]:
empty_dict_1 = {}
empty_dict_1

In [ ]:
type(empty_dict_1)

In [ ]:
empty_dict_2 = dict()
empty_dict_2

In [ ]:
type(empty_dict_2)

Let's create some dictionaries with elements

In [ ]:
# Here is a simple dictionary
my_dict = {'student': 'Ashok Kumar', 'age': 16, 'sports': ['football', 'cricket', 'basketball']}
my_dict

In [ ]:
# The same dictionary defined in another way
my_dict = {'student': 'Ashok Kumar', 
           'age': 16, 
           'sports': ['football', 'cricket', 'basketball']}
my_dict

In [ ]:
# The same dictionary defined in yet another way(most popular convention)
my_dict = {
    'student': 'Ashok Kumar',
    'age': 16,
    'sports': ['football', 'cricket', 'basketball']
}
my_dict

In [ ]:
{'abcdef': 1, 3: 'fire'} # any immutable data type can be used as key

Dictionaries automatically deal with duplicate values

In [ ]:
dict1 = {'A': 2, 'B': 3, 'C': 4, 'A': 5}
dict1

We can create dictionaries with default values using dict.fromkeys()

In [ ]:
dict2 = dict.fromkeys(['A', 'B', 'C'], 0)
dict2

The dict() constructor can be used to create dictionaries in several ways

In [ ]:
dict3 = dict(A = 1, B = 2, C = 3)
dict3

In [ ]:
dict4 = dict([['A', 1], ['B', 2], ['C', 3]])
dict4

In [ ]:
l1 = ['A', 'B', 'C']
l2 = [1, 2, 3]
list(zip(l1, l2))

In [ ]:
dict5 = dict(zip(l1, l2)) # the zip() method iterates over two or more iterables simultaneously
dict5

In [ ]:
dict(zip(l2, l1))

We can create nested dictionaries (with dictionaries as values not keys)

In [ ]:
class_10 = {
    'student1': {'name': 'Ashok Kumar', 'age': 16},
    'student2': {'name': 'Mohini Karla', 'age': 14},
    'student3': {'name': 'Victor Salvage', 'age': 15}
}
class_10

#### Accessing Dictionaries

We can access a dictionary by a key to retrieve the value associated with that key. One way to do this is to use subscript notation.

In [79]:
my_dict = {'student': 'Ashok Kumar', 'age': 16, 'sports': ['football', 'cricket', 'basketball']}

In [ ]:
my_dict['student']  # output: ‘Ashok Kumar’ , using subscript notation

In [ ]:
my_dict['sports']

In [ ]:
my_dict['experience'] # If the key doesn't exist, accessing using the subscript leads to a KeyError

In [84]:
my_dict.get('experience') # Safer way to access keys as it returns None rather than throwing a KeyError

Dictionaries cannot be indexed by position

In [85]:
# my_dict[0]

We can similarly access nested dictionaries by chaining subscripts

In [86]:
my_dict = {
    'student1': {'name': 'Ashok Kumar', 'age': 16},
    'student2': {'name': 'Mohini Kalra', 'age': 14},
    'student3': {'name': 'Victor Savage', 'age': 15}
}

In [ ]:
my_dict['student1']['age']

#### Operations on Dictionaries

We can find the length of a dictionary using len()

In [ ]:
my_dict = {'student': 'Ashok Kumar', 'age': 16, 'sports': ['football', 'cricket', 'basketball']}
len(my_dict)

We can check for membership within dictionaries (this will check for the membership of keys, not values)

In [ ]:
'student' in my_dict

In [ ]:
'weight' in my_dict

In [ ]:
'height' not in my_dict

In [ ]:
'Ashok Kumar' in my_dict # membership operators only check keys, not values

In [ ]:
'football' in my_dict

We can merge two dictionaries

In [208]:
other_dict = {'student': 'Meeta Khan', 'age': 17, 'subjects': ['maths', 'physics', 'geography']}

In [ ]:
my_dict

In [ ]:
other_dict

In [ ]:
merged_dict = my_dict | other_dict # while merging, if there are common keys, the new values will overwrite the old
merged_dict

In [ ]:
my_dict |= other_dict
my_dict

Suppose you have two dictionaries per employee:
- personal_info: Contains each employee's name and age

In [213]:
personal_info = {
    'emp_001': {'name': 'Ashok', 'age': '30'},
    'emp_002': {'name': 'Bina', 'age': '25'},
    'emp_003': {'name': 'Charu', 'age': '35'}
}

- job_info : Contains each employee's job title and department

In [214]:
job_info = {
    'emp_001': {'title': 'Software Engineer', 'department': 'Engineering'},
    'emp_002': {'title': 'Data Analyst', 'department': 'Data Science'},
    'emp_003': {'title': 'Project Manager', 'department': 'Operations'}
}

In [215]:
combined_info = {} # empty dictionary to store the output
employee_ids = ['emp_001', 'emp_002', 'emp_003'] # list of employee ids to iterate through

In [216]:
for emp_id in employee_ids:
    combined_info[emp_id] = personal_info[emp_id] | job_info[emp_id] # merge the inner dictionaries for each employee

In [ ]:
# Display the output
for emp_id in employee_ids:
    print(combined_info[emp_id])

Consider the following dictionaries of names and scores. How would you find the key with the maximum score?

In [218]:
scores = {
    'Ashok': 83,
    'Bina': 97,
    'Caruna': 70,
    'David': 85,
}

What would happen if we were to use the `max()` function on this dictionary?

In [ ]:
max(scores)

This isn't what we intended, as we want to get the highest score, not the string that is considered the greatest (because 'David' starts with 'D')
We can instead try:

In [ ]:
max(scores, key = scores.get)

This is the same as doing:

In [ ]:
max(scores, key = lambda person: scores[person])

In [ ]:
min(scores, key = scores.get)

In [ ]:
min(scores, key = lambda person: scores[person])

In [ ]:
sorted(scores, key = scores.get)

In [ ]:
sorted(scores, key = lambda person: scores[person])

In [ ]:
sorted(scores, key = lambda person: scores[person], reverse=True)

In [227]:
people = {
    'Arvind': {'age': 30, 'height': 175},
    'Bob': {'age': 25, 'height': 180},
    'Charu': {'age': 27, 'height': 165},
}

In [ ]:
max(people)

In [ ]:
max(people, key = lambda person: people[person]['age'])

In [ ]:
max(people, key = lambda person: people[person]['height'])

#### Dictionary Methods

Dictionaries have various methods associated with them

In [ ]:
my_dict = {'student': 'Ashok Kumar', 'age': 16, 'sports': ['football', 'cricket', 'basketball']}
my_dict

We can retrieve values from keys safely suing .get(). This function returns nothing when the key does not exist, unlike using subscripts which will throw and error.

In [ ]:
my_dict.get('student')

In [97]:
my_dict.get('height')

In [ ]:
my_dict.keys()

In [ ]:
list_of_keys = list(my_dict.keys())
list_of_keys

In [ ]:
list_of_keys[0]

In [ ]:
my_dict.values() # retrieve all values as a dict_values object

In [ ]:
list_of_values = list(my_dict.values())
list_of_values

In [ ]:
list_of_values[0]

In [ ]:
my_dict.items() # retrieve all key-values pair as a dict_items object

In [ ]:
list_of_items = list(my_dict.items())
list_of_items

In [ ]:
list_of_items[0]

As dictionaries are mutable, the methods which modify dictionaries act in place, i.e. they do not require to be assigned to a variable

We can add elements to our dictionary

In [ ]:
my_dict.update({'roll number': 12})
my_dict

In [ ]:
my_dict['another_field'] = 'example'
my_dict

We can remove elements from our dictionary

In [ ]:
popped_value = my_dict.pop('student')

In [ ]:
popped_value

#### More on Dictionaris

Let's imagine we work in library where there is a dictionary called `library` that stores information about each books in the library. Each book is identified by an ISBN number and contains details such as title, author, price and whether the book is in stock or not.

In [118]:
library = {
    '978-01123': {
        'title': 'The White Tiger',
        'author': 'Aravind Adiga',
        'price': 499,
        'in_stock': True
    },
    '978-01124': {
        'title': 'Pride and Prejudice',
        'author': 'Jane Austen',
        'price': 299,
        'in_stock': False
    },
    '978-01125': {
        'title': 'The Great Gatsby',
        'author': 'F. Scott Fitzgerald',
        'price': 399,
        'in_stock': True
    },
    '978-01126': {
        'title': 'The Alchemist',
        'author': 'Paulo Coelho',
        'price': 399,
        'in_stock': True
    }
}

How we safely retrieve a book by ISBN so that an error isn't caused if the number doesn't exist in our library>?

In [119]:
def get_book_by_isbn(isbn):
    book = library.get(isbn) # is None if no book is found
    if book:
        print(f'Book found: {book["title"]} by {book["author"]}, Price: {book["price"]} Rs.')
    else:
        print('Book not found in the library')

In [ ]:
get_book_by_isbn('978-01123')

In [ ]:
get_book_by_isbn('000-00000')

Let's retrieve a list of all ISBNs available in the library

In [ ]:
list(library.keys())

Let's print out information on every book available in the library

In [ ]:
print('Books in the library!')
for book in library.values():
    print(f'{book["title"]} by {book["author"]}, Price: {book["price"]}Rs, In Stock: {book["in_stock"]}')

Someone returned Pride and Prejudice (ISBN 978-01124) back to our shelves. How can we update our dictionary to reflect this?

In [ ]:
library['978-01124'].update({'in_stock': True})
print(library['978-01124'])

Our library's copy of The Great Gatsby (ISB 978-01125) was lost. How can we update our dictionary to reflect this? Also print out that book was lost.

In [ ]:
removed_book = library.pop('978-01125')
print(f'Removed Book: {removed_book["title"]} by {removed_book["author"]}')

In [ ]:
library

Can you invert the keys and values of a dictionary? For instance, `{'Ashok': 1, 'Bina': 2, 'Charu': 3}`should invert to `{1: 'Ashok', 2: 'Bina',3: 'Charu'}`.

In [128]:
my_dict = {'Ashok': 1, 'Bina': 2, 'Charu': 3}

In [ ]:
inverted_dict = {}
for key, val in my_dict.items():
    inverted_dict[val] = key

print(inverted_dict)

Given a list of words, can you group them into a dictionary where the keys are the lengths of the word and the values are the list of words of that length? for instance, the list `['apple', 'banana', 'cherry', 'durian', 'eldenberry', 'fig', 'guava']` should create the dictionary `{5: ['apple', guava], 6: ['banana', 'cherry', 'durian'], 10: ['eldenberry'], 3: ['fig']}`.

In [130]:
my_list = ['apple', 'banana', 'cherry', 'durian', 'eldenberry', 'fig', 'guava']

In [ ]:
lengths_dict = {}
lengths_dict

In [ ]:
for fruit in my_list:
    length = len(fruit)
    if length in lengths_dict:
        lengths_dict[length].append(fruit)
    else:
        lengths_dict[length] =  [fruit]

print(lengths_dict)

Can you count the occurrence of words in a sentence, and store this count in a dictionary? Ignore case while counting words

In [143]:
sentence = 'How much wood could a wood chuck chuck if a wood chuck chuck wood'

In [ ]:
words = sentence.split()
word_count = {}
for word in words:
    word = word.lower()
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

Given the following nedted dictionary, can you print out the average scores across all subjects for each student, formatted to two decimal places?

In [148]:
student_scores = {
    'Ashok': {'Math': 85, 'English': 78, 'Science': 92},
    'Bina': {'Math': 90, 'English': 82, 'Science': 85},
    'Charu': {'Math': 88, 'English': 95, 'Science': 87},
    'Diana': {'Math': 76, 'English': 88, 'Science': 80},
}

In [ ]:
# Iterate through the dictionary using dict.items()
for student, subject in student_scores.items():
    total_score = 0
    subject_count = 0

    # Iterate over each student's subject scores
    for _, score in subject.items():
        total_score += score
        subject_count += 1

    # Calculate the average score for the current student
    average_score = total_score / subject_count
    print(f"{student}'s average score is: {average_score:.2f}")

#### Dictionary Comprehensions

Imagine you want to make a dictionary where every key corresponds to a value that is the square of that key. One way to do this is by using a for loop.

In [ ]:
squares_dict_1 = {}

for x in range(1, 10):
    squares_dict_1[x] = x**2

squares_dict_1

A dictionary comprehension lets you create dictionaries from sequences using a compact and readable block of code

In [ ]:
squares_dict = {x: x ** 2 for x in range(1, 10)}
squares_dict

In [ ]:
my_dict = {'A': 1, 'B': 2, 'C': 3}
my_dict

In [ ]:
my_dict.items()

In [ ]:
swapped_dict = {v: k for k, v in my_dict.items()}
swapped_dict

In [ ]:
word_list = ['alpaca', 'baboon', 'cheetah', 'duck']
word_length_dict = {word: len(word) for word in word_list}
word_length_dict

Dictionary comprehension can include conditionals

In [ ]:
squares_of_even = {x: x**2 for x in range(1, 10) if x%2 == 0}
squares_of_even

In [ ]:
# Using if-else changes the systax a bit
even_squares_odd_cubes = {x: (x**2 if x % 2 == 0 else x ** 3) for x in range(1, 10)}
even_squares_odd_cubes

Dictionary comprehension can also be used to create nested dictionaries

In [ ]:
num_powers = {x: {y: x ** y for y in range(1, 4)} for x in range(1, 10)}
num_powers

### Tuples

#### Creating Tuples

In [ ]:
empty_tuple = ()
empty_tuple

In [ ]:
type(empty_tuple)

Let's create a tuple with elements

In [ ]:
is_this_a_tuple = (1)
is_this_a_tuple

In [ ]:
type(is_this_a_tuple)

In [ ]:
one_tuple = (1,)
one_tuple

In [ ]:
type(one_tuple)

In [ ]:
three_tuple = (1, 'spain', ['a', 'b', 'c'])
three_tuple

In [ ]:
type(three_tuple)

We can use the `tuple()` constructor to create tuples from iterable sequences

In [ ]:
# my_tuple = tuple(1) # an integer is not iterable

In [ ]:
nine_tuple = tuple(range(1, 10))
nine_tuple

In [175]:
list1 = ['apple', 'banana', 'cherry', 'durian']
list2 = ['tasty', 'tasty', 'alright', 'yuck']

In [ ]:
zipped_tuple = tuple(zip(list1, list2))
zipped_tuple

We can create nested tuples (tuples-within-tuples)

In [ ]:
nested_tuple = (1, 2, (3, 4, 5), (6, 7))
nested_tuple

#### Indexing and Slicing Tuples

We can use indexing to retrieve an element stored at a particular position in the tuple by using subscript notation

In [180]:
my_tuple = ('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J')

In [ ]:
my_tuple[0] # indexing to get an element

In [ ]:
my_tuple[1]

In [ ]:
len(my_tuple)

In [ ]:
my_tuple[-1]

We can slice a tuple to retrieve a subtuple

In [ ]:
my_tuple[:2]

In [ ]:
my_tuple[1:3]

We can additionally provide a step to our subscript

In [ ]:
my_tuple[::2]

In [ ]:
my_tuple[::-1]

In [ ]:
my_tuple[1:-1:2]

Nested elements can be accessed by chaining subcript

In [190]:
nested_tuple = (1, (2, 3), (4, 5, 6), (7, 8, (9, 10)))

In [ ]:
nested_tuple[3]

In [ ]:
nested_tuple[3][2]

#### Operations on Tuples

We can find the length of a tuple using `len()`

In [202]:
my_tuple = (9, 3, 2, 4, 5)
len(my_tuple)

5

We can perform mathematical operations on tuples by using some in-built functions

In [ ]:
sum(my_tuple)

In [ ]:
min(my_tuple)

In [ ]:
max(my_tuple)

In [ ]:
# sum(('a', 'b', 'c'))

In [200]:
min(('a', 'b', 'c'))

'a'

In [201]:
max(('a', 'b', 'c'))

'c'

We can sort a tuple in ascending or descending order

In [204]:
sorted(my_tuple) # return a list because tuples are not mutable

[2, 3, 4, 5, 9]

In [206]:
tuple(sorted(my_tuple)) # this is a new tuple

(2, 3, 4, 5, 9)

In [207]:
sorted(my_tuple, reverse=True)

[9, 5, 4, 3, 2]

In [208]:
tuple(sorted(my_tuple, reverse=True))

(9, 5, 4, 3, 2)

We can perform operations on tuples using operators

In [209]:
(1, 2, 3) + (4, 5, 6) # extending a tuple (operator overloading)

(1, 2, 3, 4, 5, 6)

In [210]:
(1, 2, 3) * 3 # repeating a tuple (operator overloading)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [211]:
1 in (1, 2, 3)

True

In [212]:
2 not in (1, 2, 3)

False

In [214]:
(1, 2) in (1, 2, 3) # (1, 2) is not an element of the tuple

False

Tuples are immutable and therefore do not possess any methods which would change their contents

In [215]:
# my_tuple.append(5)

Here are some tuple methods which focus on information retrieval, not modification

In [219]:
new_tuple = (1, 2, 3, 3, 4, 5, 6, 7)

In [220]:
new_tuple.count(3)

2

In [221]:
new_tuple.index(5)

5

#### Control Flow on Tuples

Given a nested tuple containing pairs, can you sort the tuple by the second value of the pair?

In [222]:
pairs = (('a', 4), ('b', 2), ('c', 3), ('d', 1))

In [224]:
sorted_list = sorted(pairs, key = lambda x: x[1]) # access the second element for each pair while sorting
print(sorted_list) # sorted() outputs a list

[('d', 1), ('b', 2), ('c', 3), ('a', 4)]

In [225]:
my_pairs = ((1, 'a'), (2, 'b'), (3, 'c'))

In [227]:
def make_triplets(pairs):
    first_triplet = tuple([x[0] for x in pairs])
    second_triplet = tuple([x[1] for x in pairs])

    return first_triplet, second_triplet

In [228]:
make_triplets(my_pairs)

((1, 2, 3), ('a', 'b', 'c'))

#### Unpacking Tuples

We can unpack the elements of a tuple

In [230]:
my_tuple = (1, ['a', 'b', 'c'], 'Python', (1, 2, 3))
my_tuple

(1, ['a', 'b', 'c'], 'Python', (1, 2, 3))

In [231]:
ele1, ele2, ele3, ele4 = my_tuple
ele1

1

In [232]:
ele2

['a', 'b', 'c']

In [233]:
ele3

'Python'

In [234]:
ele4

(1, 2, 3)

We can use an asterisk(*) while unpacking to assign the remaining elements of a sequence to a variable as a list. this is helpful when we don't know the number of elements or do not want to access them right away

In [236]:
ele1, *rest = my_tuple
ele1

1

In [237]:
rest

[['a', 'b', 'c'], 'Python', (1, 2, 3)]

In [238]:
ele1, *rest, ele2 = my_tuple

In [239]:
rest

[['a', 'b', 'c'], 'Python']

In [240]:
ele2

(1, 2, 3)

### Sets

#### Creating Sets

Let's create a empty set

In [242]:
is_this_a_set = {}
is_this_a_set

{}

In [244]:
type(is_this_a_set)

dict

In [246]:
empty_set = set()
empty_set

set()

In [247]:
type(empty_set)

set

Let's create set with values

In [249]:
my_set = {1, 2, 3, 4}
my_set

{1, 2, 3, 4}

In [250]:
type(my_set)

set

In [252]:
my_other_set = {9, 2, 7, 4, 0, 1}
my_other_set

{0, 1, 2, 4, 7, 9}

In [253]:
set(range(1, 10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [254]:
set([1, 1, 2, 2, 3, 3, 3, 4, 5, 6, 7])

{1, 2, 3, 4, 5, 6, 7}

In [256]:
len(set('Hello World!'))

9

#### Operations on Sets

Let's find the length of a set using `len()`

In [258]:
my_set = {9, 3, 2, 4, 5}
len(my_set)

5

Let's perform some mathematical operations on sets using in-built functions

In [259]:
sum(my_set)

23

In [260]:
min(my_set)

2

In [261]:
max(my_set)

9

We can sort a set in ascending or decending order

In [262]:
sorted(my_set)

[2, 3, 4, 5, 9]

In [263]:
set(sorted(my_set))

{2, 3, 4, 5, 9}

In [264]:
sorted(my_set, reverse=True)

[9, 5, 4, 3, 2]

In [265]:
set(sorted(my_set, reverse=True))

{2, 3, 4, 5, 9}

Let's check for membership of elements in sets

In [277]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 8}

In [267]:
2 in s1

True

In [268]:
8 in s2

True

In [269]:
2 not in s1

False

In [271]:
s1.add(22)
s1

{1, 2, 3, 4, 5, 22}

In [273]:
s1.pop()

2

In [278]:
s1.remove(5)
s1

{1, 2, 3, 4}

In [280]:
s1.discard(5)
s1

{1, 2, 3, 4}

#### Using Sets to Solve Problems

Find all the unique elements in a list

In [2]:
my_list = [1, 2, 3, 1, 1, 1, 3, 2, 4, 5, 6, 7]

This can be achieved using loop

In [3]:
unique_list = [] # stores unique elements in the list

for ele in my_list:
    if ele not in unique_list:
        unique_list.append(ele)

print(unique_list)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
list(set(my_list))

[1, 2, 3, 4, 5, 6, 7]

#### Mathematical Operations on Sets

In [6]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {0, 2, 4, 6, 8, 10}
set3 = {3, 4, 5}
set4 = {15, 16, 17}

#### Set Comprehensions

### Coding Best Practices