### Quiz 1
Extract `'EDCBA'` from the string `'AXBXCXDXE'`

In [2]:
quiz_string = 'AXBXCXDXE'

In [3]:
### YOUR CODE HERE ###
quiz_string[::-2]

'EDCBA'

### Quiz 2
 Find the length of the string `'Python programming is fun!'` and count the occurrences of `'n'` in the string.

In [4]:
quiz_string = 'Python programming is fun!'

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

###Quiz 3

Rewrite the following using f-strings:



```
name = 'Alice'
age = 25
print('My name is ' + name + ' and I am ' + str(age) + ' years old.')

```

In [ ]:
### YOUR CODE HERE ###

###Quiz 4

Use the `range()` function to create a list of all odd numbers between $1$ and $20$ (inclusive).

In [ ]:
### YOUR CODE HERE ###

### Quiz 5
Print `45` from the following list: `[1, -1, 0, [[50, 34], [45]], 23]`.

In [ ]:
### YOUR CODE HERE ###

### Quiz 6
Find the mean of the numbers in the list `[3, 8.5, 2, 11, 6.7, 9, 4.2, 7, 10, 5.5]`.

**Hint:** The mean can be calculated by adding all elements in the list and dividing by the length of the list.

In [ ]:
### YOUR CODE HERE ###

### Quiz 7
Find the second smallest element in the list `[10, 20, 5, 30, 40, 15]`.

In [ ]:
### YOUR CODE HERE ###

### Quiz 8
Consider the following dictionary that has details about a university student:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```
Extract the first name and age of the student and output these as a new dictionary with just the `first_name` and `age` keys.

In [ ]:
### YOUR CODE HERE ###

### Quiz 9
Given the dictionary
```
university_student = {'name': 'Sonali', 'age': 25, 'email': 'sonali123@mailmail.com'}
```
Remove the `email` key from this dictionary and add the `address` key with value `Mumbai`. Output the resulting dictionary.

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

In [ ]:
university_student

### Quiz 10
Given the dictionary
```
daily_sales = {'mon': 0, 'tue': 1, 'wed': 3, 'thu': 5, 'fri': 3}
```
Find the total number of sales, the day with the most sales and the day with the least sales made during the week.

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

##Quiz 11

Find the unique values in this list.

```
numbers = [1, 2, 3, 2, 1, 4, 5]
```

In [ ]:
### YOUR CODE HERE ###